body {
  background: #f2994b;
}

.front-page {
  background: url("/Game-Project/Img/p.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200%;
  display: grid;
  padding-top: 150px;
  justify-content: center;
  width: 1200px;
  height: 700px;
  color: #c0c0c0;
  border-radius: 25px;
  margin: 0 auto;
}

h1 {
  display: grid;
  justify-content: center;
  padding: 60px;
  color: #ea3c53;
}

#howToPlay {
  height: 80px;
}

#start-B {
  height: 40px;
  width: 200px;
  border-radius: 25px;
  display: grid;
  justify-content: center;
}

#canvas {
  background: #074073;
  background-size: cover;
  display: grid;
  margin: 0 auto;
  margin-top: 100px;
}
.score {
  position: absolute;
  color: white;
  padding-left: 1000px;
  font-size: xx-large;
  font-family: "MedievalSharp", cursive;
}


 .hidden {
    display: none;
  }
   
